div{
    width: 400PX;
    height: 300px;
    background-image:url(../003.jpeg),url(../007.jpeg), url(../01.jpeg);
    background-repeat: repeat-x,no-repeat,no-repeat;
    background-position: top,center,left top;
    background-size: 20%,100px,cover;
}